<?xml version="1.0"?>
<configuration>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>-->

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <add name="PinnaRentConnection" connectionString="Data Source=.;Initial Catalog=WebSecurityTest5;User ID=sa;Password=amihan"
      providerName="System.Data.SqlClient" />
    <add name="PinnaRent.DAL.PinnaRentDBContext" connectionString="Data Source=E:\PinnaRentDb.sdf;Password=mypassword"
      providerName="System.Data.SqlServerCe.4.0" />
    <add name="PinnaRent.DAL.PinnaRentServerDBContext" connectionString="Data Source=E:\PinnaRentDb.sdf;Password=mypassword"
      providerName="System.Data.SqlServerCe.4.0" />
    <add name="PinnaRent.WPF.Properties.Settings.PinnaRentDb3ConnectionString"
      connectionString="Data Source=|DataDirectory|\PinnaRentDb3.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.web>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
  </system.web>

</configuration>
